@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

body{
    /* background-color: #AAAAAA; */
    font-family: 'Poppins', sans-serif;
    margin-left: 120px;
    margin-right: 120px;
}
/*---------
nav bar  
---------*/
h1{
    font-size: 24px;
    color: #3A3A3A;
}
a{
    text-decoration: none;
    color: #3A3A3A;
    padding: 16px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3A3A3A;
}
.sec-menu{
    height: 36px;
}


/* -------
    header 
    ------*/

.header-section{
    display: flex;
    padding-bottom: 75px;
}

.first-header{
    Width : 582px;
    Height :270px;
    justify-content: center;
    align-items: center;
    color: #3A3A3A;
    padding-top: 50px;
    ;
}
.header-title{
    font-size: 3em;
    font-style: normal;
    font-weight: bold;
}
p{
    font-style: normal;
    font-weight: 600;
    color: #3A3A3A;
}
.button-top{
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    border-radius: 25px;
    border: 0px;
}
.button-top a{
    color: white;
    font-weight: bold;
}
button:hover{
    animation: sliding 5s ease-in-out  0.1s infinite alternate;
    animation-play-state: running;
}
@keyframes sliding {
    0%{
        background-color: limegreen;
    }
    20%{
        background-color: greenyellow;
    }
    40%{
        background-color: green;
    }
    60%{
        background-color: blue;
    }
    80%{
        background-color: greenyellow;
    }
    100%{
        background-color: blue;
    }
}
.fa-arrow-right{
    padding-left: 5px;
}
.sec-header{
    padding-left: 130px;
}
.sec-header img{
    height: 414;
    width: 440;
}
hr{
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/* logo  */

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 55.05px;
    height: 31.06px;
    padding-left: 30px;
    padding-right: 30px;
}

/* collection */
.collection-title{
    text-align: center;
}
.collection-accessories{
    width: 329px;
    height: 476px;
    overflow: hidden;
    box-shadow: 1px 10px 10px 10px lightgray;
    border-radius: 10px;
    margin: 24px 15px;
}
.collection-point{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.collection-acce-banner img{
    width: 300px;
    height: 256px;
    padding-left: 15px;
    padding-top: 10px;
}
.collection-info{
    padding-left: 15px;
}
.collection-info-title{
    margin: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
}
.collection-price{
    margin: 0px;
    font-style: normal;
}
.collection-ratting{
        display: flex;
        left: 0;
        align-items: center;
        margin-top: -10px;
        margin-bottom: -10px;
}
.star{
    padding-right: 20px;
}
.fa-star, .fa-star-half-alt{
    font-size: 12px;
}
.fa-star.field{
    color: #FB8200;
}
.fa-star-half-alt.half-field{
    color: #FB8200;
}
.collection-details{
    font-size: 12px;
    text-align: left;
    padding-right: 150px;
    font-size-adjust: initial;
}
.section-mid{
    text-align: right;
    margin-top: 15px;
}
.section-mid a{
    color: #E02C6D;
    font-weight: bold;
}

/* become */

.become-influ{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.become-influ-img img{
    width: 404px;
    height: 270px;
    border-radius: 15px;
    margin-right: 96px;
}
.become-influ-detile p{
    width: 80%;
    height: auto;
    color: #6C6C6C;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
}
button{
    background-color: #E02C6D;
    width: 155px;
    height: 44px;
    border: 0px;
}
button a{
    color: white;
    font-weight: bold;
}


/* footer */


footer{
    height: 240px;
    text-align: center;
    background-color: #0A0826;
    margin-right: -120px;
    margin-left: -120px;
}
.footer-h2{
    color: #FFFFFF;
    padding-top: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px
}
footer p{
    color: #D9DBE1;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}
.footer-icon{
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    align-content: center;
}
.icon-box{
    color: white;
}
.footer-box{
    border: 2px solid transparent;
    background-color: #6c6a8a7a;
    border-radius: 50px;
    margin-right: 10px;
}
.footer-box:hover{
    background-color: lightcoral;
}

/* mobile device */

@media only screen and  (max-width:688px) {
    body{
        margin-left: 10px;
        margin-right: 10px;
    }
    .header-section{
        display: flex;
        flex-direction: column-reverse;
        ;
        margin-bottom: 150px;
    }
    .first-header{
        width: 404px;
        height: 222px;
        text-align: center;
    }
    .sec-header{
        text-align: center;
        margin: 0;
        padding-left: 0;
        padding-bottom: 0;
    }
    .sec-header img{
        width: 257px;
        height: 257px;
    }
    hr{
        display: none;
    }
    .logo{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
    }
    .logo img{
        width: 33.38px;
        height: 18.84px;
    }
    .collection-point{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .become-influ{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .become-influ-detile h1{
        width: 311px;
        height: 72px;
        text-align: center;
    }
    .become-influ-detile p{
        width: 329px;
        height: auto;
        text-align: center;
        padding-bottom: 50px;
        
    }
    .become-influ-img img{
        width: 299px;
        height: 188px;
        margin-top: 30px;
        margin-left: 100px;
    }
    footer{
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
    }
}

@media screen and (min-width: 689px) and (max-width: 992px){
    body{
        margin: 50px;
    }
    .header-section{
        display: flex;
        margin-bottom: 150px;
    }
    
    .logo{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: center;
        align-items: center;
    }
    .collection-point{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .become-influ{
        align-items: center;
    }
    .become-influ-detile p{
        width: 80%;
        height: auto;
        align-items: center;
    }
    footer{
        max-width: auto;
        bottom: 0px;
    }
}